extends layout
block body
  .max-width
      include nav.pug

  main
    section.contents.max-width
      article
        include:markdown-it ../data-jp/access/index.md
        #map
        .map-button
          a(class="button button--map" href='https://goo.gl/maps/X2z4EAt3HkNDQY5dA') グーグルマップで開く
        include:markdown-it ../data-jp/access/directions.md
