-
  const navigation = [
  { 
    title: "キャンピングカー ",
    route: "thevans.html",
  },{ 
    title: "よくある質問",
    route: "faq.html",
  },{ 
    title: "アクセス",
    route: "access.html",
  },{ 
    title: "お問い合わせ",
    route: "#contact",
  }]

nav.navigation
  h3.is-hidden Main Navigation
  ol.navigation__list
    each navItem in navigation
      li.navigation__item: a(href=navItem.route)= navItem.title
  