extends layout

block test
  main
    section.contents.max-width
      aside.t-lead
        include:markdown-it ../data/home/tagline.md
      include nav.pug
      article
        include:markdown-it ../data/aboutus/index.md
      //aside
      //  include:markdown-it ../data/home/notes/index.md