extends layout

block body
  main
    section.contents.max-width
      include nav.pug
      article
        include:markdown-it ../data/aboutus/index.md
      //aside
      //  include:markdown-it ../data/home/notes/index.md