aside.contact
  .max-width
    h3.contact__title How can we help you today
    form(action="#", method="post")
      label.contact__field
        span Name
        input(type="text", name="name", required)
      label.contact__field
        span E-Mail
        input(type="email", name="email", required)
      label.contact__message
        span Your massage
        textarea(name="message", cols="30", rows="10", required)
      
      button(type="submit") Send