.factbox
        .fact
            img(class='fact-image', src="../data/home/icons/svg/wifi.svg", alt="Wifi")
            ul
                li 1GB free wifi/week
                li Google maps navigation in your language on a tablet with other useful apps installed

        .fact
            img(class='fact-image', src="../data/home/icons/svg/language.svg", alt="Language Support")
            ul
                li We support you in English, German, French and Japanese.
                li English contracts
        .fact
            img(class='fact-image', src="../data/home/icons/svg/map.svg", alt="Map")
            p If you have questions or problems while travelling, we’re here to help you.
        
        .fact
            img(class='fact-image', src="../data/home/icons/svg/japan-map.svg", alt="Japan-Map")
            p Tell us what you like and we will create a customized route for you. Or just drive wherever the road leads you.

        .fact
            img(class='fact-image', src="../data/home/icons/svg/surf-bus.svg", alt="Bus")
            p Free pick-up / drop-off in Kyoto city