extends layout

block body
  main
    section.contents.max-width
      aside.t-lead
        a(class="button button--booknow" href='#contact') book now!
      include nav.pug
    aside
      include vanprofile.pug
    section.contents
      include services.pug
    aside.intro-container
      .max-width
        .intro
          .intro-content
            include:markdown-it ../data/home/intro.md
          .intro-map
            include ./images/jbv-location.svg
    section.contents
      article.max-width
        include:markdown-it ../data/home/reviews/index.md
        include:markdown-it ../data/home/reviews/review1.md
        include:markdown-it ../data/home/reviews/review2.md
        include:markdown-it ../data/home/reviews/review3.md
      //aside
      //  include:markdown-it ../data/home/notes/index.md