extends layout

block body
  main
    section.contents.max-width
      aside.t-lead
        include:markdown-it ../data/home/tagline.md
        a(class="button" href='#contact') book now!
      include services.pug
      include:markdown-it ../data/home/intro.md
      include nav.pug
      include vanprofile.pug
      article
        include:markdown-it ../data/home/reviews/index.md
        include:markdown-it ../data/home/reviews/review1.md
        include:markdown-it ../data/home/reviews/review2.md
        include:markdown-it ../data/home/reviews/review3.md
      //aside
      //  include:markdown-it ../data/home/notes/index.md