doctype html

html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title
      block title 
        |Campervan and RV rental in Kyoto, Japan
    
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes')
    meta(name='format-detection', content='telephone=no')

    meta(name='description', content='Campervan rental in Japan! Custom built campervan 🚐 Travel support ✔ Start your campervan adventure in Japan, now!')

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/lightgallery.css')
    link(rel='stylesheet', href='css/lightslider.css')

    link(rel="shortcut icon" type='image/x-icon' href="favicon/favicon.ico")

  body
    header.header-image
        .banner  
          .logo-wrap
            span.is-hidden Japan By Van
            a(href="./index.html")
              include jbv-logo.svg
          .social-media
            a(href="https://www.instagram.com/japanbyvan" title="Instagram")
              img(class="header-icon", src="./images/home/icons/svg/instagram.svg", alt="Instagram")
            a(href="https://www.facebook.com/japanbyvan" title="Facebook")
              img(class="header-icon", src="./images/home/icons/svg/facebook.svg", alt="Facebook")
            a(href="tel:+81 (0)80-8149-0487") +81 (0)80-8149-0487
        .t-lead
          include:markdown-it ../data/home/tagline.md
    block body
    include contact.pug
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/lightslider.js')
    script(src='js/lightgallery.min.js')
    script(src='main.js')
    
    footer.credits
      include:markdown-it ../data/home/footer.md

