doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title japanbyvan.com
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    link(rel='stylesheet', href='css/style.css')

  body
    h1.logo-wrap
      span.is-hidden Japan By Van
      a(href="/")
        include jbv-logo.svg
    block body
    script(src='main.js')
      


