doctype html

html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    title Campervan and RV rental in Kyoto, Japan | japanbyvan.com
    
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes')
    meta(name='format-detection', content='telephone=no')

    meta(name='description', content='Campervan rental in Japan! Custom built campervan 🚐 Travel support ✔ Start your campervan adventure in Japan, now!')

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/lightgallery.css')
    link(rel='stylesheet', href='css/lightslider.css')

    link(rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    link(rel="manifest" href="favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/lightslider.js')


  body
    header.header-image
        .banner  
          .logo-wrap
            span.is-hidden Japan By Van
            a(href="./index.html")
              include jbv-logo.svg
          .social-media
            table.social-media-table
              tr
                td INSTAGRAM:
                td 
                  a(href="https://www.instagram.com/japanbyvan")
                    img(class="header-icon", src="./images/home/icons/svg/instagram.svg", alt="Instagram")
              tr
                td FACEBOOK: 
                td 
                  a(href="https://www.facebook.com")
                    img(class="header-icon", src="./images/home/icons/svg/facebook.svg", alt="Facebook")
              tr 
                td PHONE:
                td +81 (0)80-8149-0487
        .t-lead
          include:markdown-it ../data/home/tagline.md
    block body
    include contact.pug
    script(src='js/lightgallery.min.js')
    script(src='main.js')

    script.
      $(document).ready(function() {
        $(".bongogallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 7,
          keyPress: true
        }); 
      });
    script.
      $(document).ready(function() {
        $(".hiacegallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 9,
          keyPress: true
        }); 
      });
    script.
      $(document).ready(function() {
        $(".equipmentgallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 7,
          keyPress: true
        }); 
      });
  footer.credits
    include:markdown-it ../data/home/footer.md

