doctype html

html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    title Campervan and RV rental in Kyoto, Japan | japanbyvan.com
    
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes')
    meta(name='format-detection', content='telephone=no')

    meta(name='description', content='Campervan rental in Japan! Custom built campervan 🚐 Travel support ✔ Start your campervan adventure in Japan, now!')

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/lightgallery.css')
    link(rel='stylesheet', href='css/lightslider.css')

    link(rel="shortcut icon" type='image/x-icon' href="favicon/favicon.ico")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/lightslider.js')


  body
    header.header-image
        .banner  
          .logo-wrap
            span.is-hidden Japan By Van
            a(href="./index.html")
              include jbv-logo.svg
          .social-media
            table.social-media-table
              tr
                td INSTAGRAM:
                td 
                  a(href="https://www.instagram.com/japanbyvan")
                    img(class="header-icon", src="./images/home/icons/svg/instagram.svg", alt="Instagram")
              tr
                td FACEBOOK: 
                td 
                  a(href="https://www.facebook.com")
                    img(class="header-icon", src="./images/home/icons/svg/facebook.svg", alt="Facebook")
              tr 
                td PHONE:
                td +81 (0)80-8149-0487
        .t-lead
          include:markdown-it ../data/home/tagline.md
    block body
    include contact.pug
    script(src='js/lightgallery.min.js')
    script(src='main.js')

    script.
      $(document).ready(function() {
        $(".bongogallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 7,
          keyPress: true
        }); 
      });
    script.
      $(document).ready(function() {
        $(".hiacegallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 9,
          keyPress: true
        }); 
      });
    script.
      $(document).ready(function() {
        $(".equipmentgallery").lightSlider({
          gallery: true,
          item: 2,
          loop:true,
          slideMargin: 10,
          thumbItem: 7,
          keyPress: true
        }); 
      });
  footer.credits
    include:markdown-it ../data/home/footer.md

