doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    title japanbyvan.com
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/lightgallery.css')

  body
    .social-media-container
      .social-media
        a(href="https://www.instagram.com/japanbyvan")
          img(class='social-media', src="./images/home/icons/svg/instagram.svg", alt="Instagram")
      .social-media
        a(href="https://www.facebook.com")
          img(class='social-media', src="./images/home/icons/svg/facebook.svg", alt="Facebook")
    h1.logo-wrap
      span.is-hidden Japan By Van
      a(href="./index.html")
        include jbv-logo.svg
    block body
    include contact.pug
    script(src='js/lightgallery.min.js')
    script(src='js/lightgallery.js')
    script(src='main.js')
    script(type="text/javascript") lightGallery(document.querySelector('.bongogallery'));
    script(type="text/javascript") lightGallery(document.querySelector('.hiacegallery'));
    script(type="text/javascript") lightGallery(document.querySelector('.equipmentgallery'));
    
      


