.service-box
        .service
            img(class='service-image', src="./images/home/icons/svg/wifi.svg", alt="Wifi")
            include:markdown-it ../data/home/services/wifi.md

        .service
            img(class='service-image', src="./images/home/icons/svg/language.svg", alt="Language Support")
            include:markdown-it ../data/home/services/language.md
        .service
            img(class='service-image', src="./images/home/icons/svg/map.svg", alt="Map")
            include:markdown-it ../data/home/services/support.md
        
        .service
            img(class='service-image', src="./images/home/icons/svg/japan-map.svg", alt="Japan-Map")
            include:markdown-it ../data/home/services/planning.md
        
        .service
            img(class='service-image', src="./images/home/icons/svg/driving-license.svg", alt="Drivers License")
            include:markdown-it ../data/home/services/license.md

        .service
            img(class='service-image', src="./images/home/icons/svg/surf-bus.svg", alt="Bus")
            include:markdown-it ../data/home/services/luggage.md