aside
    .header-icon-container
        .header-icon
            a(href="https://www.instagram.com/japanbyvan")
                img(class="header-icon", src="./images/home/icons/svg/instagram.svg", alt="Instagram")
        .header-icon
            a(href="https://www.facebook.com")
                img(class="header-icon", src="./images/home/icons/svg/facebook.svg", alt="Facebook")