aside
    .social-media-container
        .social-media
            a(href="https://www.instagram.com/japanbyvan")
            img(class='social-media', src="./images/home/icons/svg/instagram.svg", alt="Instagram")
        .social-media
            a(href="https://www.facebook.com")
            img(class='social-media', src="./images/home/icons/svg/facebook.svg", alt="Facebook")