aside
    .header-icon-container
        .social-media-tagline
            h3 Contact us via:
        //.header-icon
            a(href="https://www.instagram.com/japanbyvan")
                img(class="header-icon", src="./images/home/icons/svg/instagram.svg", alt="Instagram")
        //.header-icon
            a(href="https://www.facebook.com")
                img(class="header-icon", src="./images/home/icons/svg/facebook.svg", alt="Facebook")
        .social-media-tagline
            a(href="https://www.facebook.com") Facebook 
        .social-media-tagline
            a(href="https://www.instagram.com/japanbyvan") Instagram
        .social-media-tagline
            p Tel: +81 (0)80-8149-0487