@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Source+Sans+Pro:400,600');

$breakpoints: (
  mobile: 'max-width: 40rem',
  tablet: 'max-width: 64rem',
  desktop: 'min-width: 64.063rem',
);

@mixin bp($name) {
  @media (#{map-get($breakpoints, $name)}) {
    @content
  }
}

:root {
  --red: #f04e45;
  --coral: #f8c1ac;
  --black: #212121;
  --white: #fff;
  --turquoise: #CBFBF1;
  --light-turquoise: #76FAE0;
  --light-green: #CBFBEF;
  --darker-green: #66D2B7;
  --blueish: #64CDC5;
  --dark-blueish: #23978F;

  --text: var(--black);
  --interaction: var(--darker-green);
  --background: var(--white);
  --background-fill: var(--darker-green);
}
html {
  font-size: calc(1vw + .3rem);
  color: var(--text);
  background-color: var(--background);
  @include bp(mobile){
    font-size: calc(1vw + .7rem);
  }
  @include bp(tablet) {
    font-size: calc(1vw + .5rem);
  }
}
body, head {
  font-size: 1.1rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1rem;
  line-height: 1.5;
  margin: 0;
}
footer {
  font-size: 0.5rem;
  text-align: center;
}
input, textarea, button {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: .5em .75em;
  display: block;
  width: 100%;
  border: none;
}

button {
  background: var(--black);
  color: var(--white);
}

.contents {
  margin: 20px auto;
}

.button {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: var(--interaction);
  background: var(--white);
  text-decoration: none;
  padding: .25em .75em;
  display: inline-block;
  box-sizing: border-box;
  border: 0.15rem solid var(--black);
  
  box-shadow: 0.5rem 0.5rem 0 var(--interaction);
  transition: 200ms box-shadow;

  &:hover {
    box-shadow: 0rem 0rem 0 var(--interaction);
  }

  &--booknow {
    margin: 1rem 0;
    @include bp(mobile) {
      display: block;
      width: 100%;
    }
  }

  &--reviews {
    margin: 1rem 0;
    font-size: 1.5rem;
    @include bp(mobile) {
      display: block;
      width: 100%;
    }
  }

  &--map {
    margin: 1rem 0;
    font-size: 1rem;
    @include bp(mobile) {
      display: block;
      width: 100%;
    }
  }
}

.map-button {
  text-align: center;
}

svg, img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
}

h4 {
  text-align: center;
}

a {
  color: var(--interaction);
}

ul, li {
  margin: 1rem auto;
}

.is-hidden {
  display: none;
}

.max-width {
  max-width: 40rem;
  margin: 0 auto;
}

.logo-wrap {
  width: 12rem;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: center;
  @include bp(mobile) {
    margin-top: 3.5rem; /// create a little room for the social media icons
  }
}

.social-media {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2rem;
  right: 2rem;
  a {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
}

.header-image {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  @include bp(mobile) {
    margin-bottom: 1rem;
  }
}

.service-box {
  height: auto;
  margin: -2rem auto 1rem;
  display: flex;
  justify-content: space-between;
  @include bp(mobile) {
    flex-wrap: wrap;
  }
}

.service {
  flex: 0 0 13%;
  text-align: center;
  @include bp(mobile){
    font-size: 0.9rem;
  }
}

.service-image {
  height: 3.7em;
  text-align: center;
  @include bp(mobile){
    height: 2.7rem;
  }
}

.van-information-container {
  margin-bottom: 3rem;
}

.van-information-lead-img {
  overflow: hidden;
  img {
    margin: -4rem 0;
  }
}

.van-container {
  position: relative;
  height: auto;
  margin: -10vw -1rem 1rem;
  @include bp(mobile) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  & + & {
    margin-top: -6rem; //distance vans
    @include bp(mobile) {
      margin-top: -3rem;
    }
  }
}

.van {
  &, & img {
    display: block;
  }
  position: relative;
  width: 70%;
  overflow: hidden;
  margin-top: -10%;
  transition: 400ms transform;
  will-change: transform;
  &.van-left:hover {
    transform: translateX(10%);
  }
  &.van-right:hover {
    transform: translateX(-10%);
  }
  &.van-left {
    margin-left: -25%;
    img {
      transform: rotateY(-180deg);
    }
  }
  &.van-right {
    margin-right: -30%;
    @include bp(mobile) {
      margin-right: -25%;
    }
    img {
      transform: translateY(7%);
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 10%;
    left: 10%;
    bottom: 15%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 0 10rem rgba(0,0,0,.25);
    pointer-events: none;
  }
}

.van-single {
  &, & img {
    display: block;
    margin-top: -3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    @include bp(mobile) {
      margin-top: -1rem;
    }
  }
  position: relative;
  width: 100%;
  transition: 400ms transform;
  will-change: transform;
  &:hover {
    transform: translateX(-10%);
  }
  &::after {
    content: '';
    position: absolute;
    width: 69%;
    height: 10%;
    left: 16%;
    bottom: 12%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 0 10rem rgba(0,0,0,.25);
    pointer-events: none;
    @include bp(mobile) {
      bottom: 17%;
    }
  }
}

.van-captions {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10%;
  font-size: 2.5rem;
  @include bp(mobile) {
    font-size: 1.5rem;
    bottom: 10%;
  }
  @include bp(tablet) {
    font-size: 2rem;
    padding: 0 5%;
  }
  text-decoration: underline;
  pointer-events: none;

  &--single {
    bottom:21%;
    justify-content: center;
    @include bp(mobile) {
            bottom: 9%;
    }
  }
}

.van-tag {
  font-size: 2rem;
  position: absolute;
  bottom: 4rem;
  right: 50%;
  text-decoration: underline;
}

.van-image {
  text-align: center;
}

.van-image-hiroof {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.van-image-single {
  text-align: center;
  height: 75%;
}

.van-price, .van-specs, .equipment-info {
  background: var(--white);
  text-decoration: none;
  padding: .25em .75em;
  box-sizing: border-box;
  border: 0.15rem solid var(--black);
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0 var(--interaction);
}

.intro-container {
  background: var(--background-fill);
  margin-bottom: 3rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.intro-content {
  text-align: left;
  flex: 0 0 70%;
  width: 70%;
}

.intro-map {
  flex: 0 0 30%;
  width: 30%;
  overflow: hidden;
}

@include bp(mobile) {
  .intro-map,
  .intro-content {
    text-align: center;
    flex: 0 0 100%;
    width: 100%;
  }
  .intro-map {
    width: 100%;
    svg {
      max-height: 20rem;
    }
  }
}

.thumbnail {
  width: 23%;
  height: auto;
}

.t-lead {
  position: relative;
  z-index: 2;
}

.t-lead, .t-lead p {
  font-size: 1.4rem;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  width: 100%;
}

.navigation {
  margin: 0 0 1rem;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0; 
  padding: 0;
}
.navigation__item {
  flex: 1 1 auto; 
  display: inline-block;
  font-weight: bold; 
  font-size: 1.2em;
  text-align: center;
}

.reviews {
  text-align: center;
  display: block;
  margin: 10px auto;
}

table {
  width: 100%;
  padding: 0.7rem;
}

td {
  text-align: left;
}

.contact {
  background: var(--background-fill);
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  span {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
  }
  &__field {
    display: block;
    padding-bottom: 1em;
  }
  &__container {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-between;
    width: 100%;
  }
  &__date {
    width: 45%;
  }
  
}

.contact__title {
  margin-left: 1rem;
}

.form {
  margin: 1rem;
}

.header-icon-container {
  max-width: 40rem;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  border-style: solid;
}

.header-icon {
  width: 1.2rem;
  height: auto;
}
.social-media-tagline {
  height: auto;
  text-align: center;
  margin: 0 2rem;
}

.about-us {
  display: block;
  width: 50%;
  margin: 2rem auto;
}

.about-us-inner {
  position: relative;
}
.about-us-inner img {
  float: right;
  width: 10rem;
  margin-left: 1rem;
}
.about-us-inner .stamp {
  width: 8rem;
  height: 8rem;
  position: absolute;
  right: -3rem; bottom: 2rem;
  transform: rotate(-18deg);
  z-index: -1;
  opacity: .7;
  svg path {
    fill: var(--interaction);
  }
}

#map {
  width: auto;
  height: 17rem;
  background-color: var(--darker-green);
  margin-bottom: 2rem;
}

@include bp(mobile) {
  .lg-thumb-item {
    display: none;
  }
}

.aboout-us {
  overflow: hidden;
}

// emoji clicker


.bro {
  transition: .8s transform ease-in-out;
  position: absolute;
  will-change: transform;
  font-size: 2em;
  &__shadow {
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    width: 100%;
    padding-top: 100%;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
    border-radius: 100%;
    transform: translate(0, 35%) rotateX(70deg);
    animation: .8s bounce-shadow ease-in;
    will-change: transform;
  }

  &__inner {
    display: block;
    animation: .8s bounce ease-in;
    will-change: transform;
    transform-origin: 50% 0%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scaleY(1);
  }
  40%,
  50% {
    transform: translateY(-260%) scaleY(1.1) scaleX(.9);
  }

  50% {
    transform: translateY(-300%) scaleY(1.2) scaleX(.8);
  }

  70% {
    transform: translateY(30%) scaleY(.8) scaleX(1.5);
  }
}

@keyframes bounce-shadow {

  0%,
  100% {
    transform: translate(0, 35%) rotateX(70deg) scale(1);
  }

  40%,
  50% {
    transform: translate(0, 35%) rotateX(70deg) scale(.5);
  }

  50% {
    transform: translate(0, 35%) rotateX(70deg) scale(.7);
  }

  70% {
    transform: translate(0, 35%) rotateX(70deg) scaleX(.9);
  }
}