extends layout

block body
  main
    section.contents.max-width
      include nav.pug
      article
        .van-information-container
          h2#bongo Mazda Bongo Friendee
            include ../data/thevans/bongo/slider.html
          include:markdown-it ../data/thevans/bongo/index.md
          h2 Prices
          .van-price
            include:markdown-it ../data/thevans/bongo/prices.md
          h2 Specs
          .van-specs
            include:markdown-it ../data/thevans/bongo/specs.md
        .van-information-container
          h2#hiace Toyota HiAce
          include ../data/thevans/hiace/gallery.html
          include:markdown-it ../data/thevans/hiace/index.md
          h2 Prices
          .van-price
            include:markdown-it ../data/thevans/hiace/prices.md
          h2 Specs
          .van-specs
            include:markdown-it ../data/thevans/hiace/specs.md
        .van-information-container
          h2 Equipment Included
          include ../data/equipment/gallery.html
          .equipment-info
            include:markdown-it ../data/equipment/index.md
    //aside
    //  include:markdown-it ../data/home/notes/index.md