extends layout

block body
  main
    section.contents.max-width
      aside.t-lead
        include:markdown-it ../data/home/tagline.md
      include nav.pug
      article
        h2#bongo Mazda Bongo Friendee
        include ../data/thevans/bongo/gallery.html
        include:markdown-it ../data/thevans/bongo/index.md       
        h2#hiace Toyota HiAce
        include ../data/thevans/hiace/gallery.html
        include:markdown-it ../data/thevans/hiace/index.md
        h2 Our Equipment
        include ../data/equipment/gallery.html
        include:markdown-it ../data/equipment/index.md
    //aside
    //  include:markdown-it ../data/home/notes/index.md