h2.van-container-title.is-hidden Choose your van
.van-container
  .van.van-left
    a(href="./thevans.html#hiacehiroof")
      img(class='van-image', src="./images/thevans/hiacehiroof/img/hiacehiroof-cutout.png", alt="Toyota Hiace High Roof Hiroshi")
      h3.is-hidden Hiroshi
  .van.van-right
    a(href="./thevans.html#goya")
      img(class='van-image', src="./images/thevans/goya/img/goya-cutout.png", alt="Toyota Hiace Goya")
      h3.is-hidden Goya

  .van-captions
    span.van-caption Hiroshi
    span.van-caption Goya

.van-container
  .van.van-single
    a(href="./thevans.html#hiace")
      img(class='van-image', src="./images/thevans/hiace/img/hiace-cutout.png", alt="Toyota Hiace Tokushi")
      h3.is-hidden Tokushi

  .van-captions.van-captions--single
    span.van-caption Tokushi
