h2 Choose your van
.van-container
  .van
    a(href="./thevans.html#bongo")
      img(class='van-image', src="./images/thevans/bongo/img/friendee-cutout.jpg", alt="Mazda Bongo Friendee")
      h3.van-tag Bongo
  .van
    a(href="./thevans.html#hiace")
      img(class='van-image', src="./images/thevans/hiace/img/DSCF2040-cutout.jpg", alt="Toyota HiAce")
      h3.van-tag Hiace